<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
  <body>
  <%- include('partials/nav.ejs') %>

  <main class="homepage" id="main-content">
    <h1>The Bookish Record</h1>
    <footer>
      <a href="https://github.com/YOUR_GITHUB_USERNAME" target="_blank">GitHub link</a>
    </footer>
  </main>
</body>
</html>
