<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <main>
    <h1 class="text-center">Edit Book Review</h1>
    <!-- HTML Form -->
    <!-- <form class="form" action="/articles/<%= article._id %>?_method=PUT" method="POST"> -->

  </main>

</body>
</html>