<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 


    <title>Create book reivew</title>

<body>
    <%- include('../partials/nav.ejs') %>

    <main id="main-content"></main>

    <h1 class="text-center">Create a new book review</h1>
    
     <!-- HTML Form -->
     <form class="form" action="/bookreviews" method="POST">
        <label>Book Name</label> 
        <input type="text" name="bookName" required/>

        <label>Review</label>
        <textarea name="reviewText" required></textarea>
      
        <label>Tags (comma-separated)</label>
        <input type="text" name="tags" />
      <% if (user && user.bookClub) { %>
        <p><strong>Your Book Club:</strong> <%= user.bookClub.name || user.bookClub %></p>
      <% } else { %>
      <% } %>


       
      
        <button type="submit">Submit Review</button>
      </form>
    
    </main> 
</body>
</html>





 <!-- <label>Book Club ID</label>
        <input type="text" name="bookClub" required /> -->